.bodyContainer{
    width:100%;
    height:140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.bodyInfoContainer{
    margin: 15vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}


.bodyInfoHeading{
    color: #FEC51E;
    font-size: 3rem;
}


.bodyInfoContainer > p{
    font-size: 1.5rem;
    font-family: "Inter";
    font-weight: 500;
    margin-bottom: 2.5vh;
}


.bodyInfoBtn{
    background-color:#FEC51E;
    margin: 1vh 2vw;
    padding: 1.5vh 2vw;
    font-size: 1.3rem;
    font-family: "Inter";
    font-weight: 600;
    border-radius: 10px;
    border: transparent;

    &:hover{
        cursor: pointer;
    }
}

.imageContainer > img{
    width: 80vw;
    height: auto;
}