.signUpContainer{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-top: 15vh;
}


.signUpTitle{
    margin: 0 30vw;
    text-align: center;
    color:#FEC51E;
}


.signUpTitle > h1{
    font-size: 3rem;
    font-weight: 500;
}


.signUpContainer > p{
    font-size: 1.5rem;
    font-family: "Inter";
    font-weight: 500;
}


.signUpForm{
    margin-top: 8vh;
    margin-left: 3vw;
}


.signUpFormData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
}


.formInfo, .formInfoName{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}


.formInfoName{
    gap:1vw;
}


.formInfo > label, .formInfoName > label{
    font-family: "Inter";
    font-weight: 500;
    font-size: 1.2rem;
}


.formInfo > input, select{
    padding: 1vh 1vw;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 600;
    opacity: 0.5;
    width: 20vw;
}


.formInput{
    display: flex;
    gap: 1vw;
}


.formInput > input{
    padding: 1vh 1vw;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 600;
    opacity: 0.5;
}


.formInput > input:nth-of-type(1){
    width: 8vw;
}


.formInput > input:nth-of-type(2){
    width: 11vw;
}


.submitBtn{
    background-color: #FEC51E;
    padding: 1.3vh 6vw;
    border: transparent;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: "Inter";
    font-weight: 600;
    width: 20vw;
    margin-left: 10vw;
    align-self: center;
    &:hover{
        cursor: pointer;
    }
}


.confirmationMessage{
    position: absolute;
    top: 245vh;
    left: 32.5vw;
    width: 35vw;
    height: 30vh;
}


.confirmMessageCloseIcon{
    position: absolute;
    top: 3vh;
    right: 2vw;
    color:white;
    &:hover{
        cursor: pointer;
    }
}


.errors{
    color: red;
}